@font-face {
  font-family: Vazir;
  src: url("Vazir-7742d629fa2784e73426ffe4dd7b488c.eot");
  src: url("Vazir-7742d629fa2784e73426ffe4dd7b488c.eot") format('embedded-opentype'),
       url("Vazir-de673de1f1b5d6ea91209acb4c207ebc.woff2") format('woff2'),
       url("Vazir-9fe024f040ff3f78ed4baa3e07cae9ff.woff") format('woff'),
       url("Vazir-00d16c23b72193c4cc40adaff67564f6.ttf") format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: Vazir;
  src: url("Vazir-Bold-acdf7a897488bea33e7e35d145e4b51c.eot");
  src: url("Vazir-Bold-acdf7a897488bea33e7e35d145e4b51c.eot") format('embedded-opentype'),
       url("Vazir-Bold-f29e552e245189e143d5a777a8405a4b.woff2") format('woff2'),
       url("Vazir-Bold-aee5eb95407589fb32d1e4e09608fd8f.woff") format('woff'),
       url("Vazir-Bold-069eb37133446d7eeeb69293aadea2da.ttf") format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: Vazir;
  src: url("Vazir-Light-a353d578b9fac70632578986fd3f99ef.eot");
  src: url("Vazir-Light-a353d578b9fac70632578986fd3f99ef.eot") format('embedded-opentype'),
       url("Vazir-Light-9b372abb13e93cf1f646676c41dcd7b2.woff2") format('woff2'),
       url("Vazir-Light-9a2deff51ca55af4d82a0cd68fa8438d.woff") format('woff'),
       url("Vazir-Light-46662e3688b6324a11186fb96f13da0e.ttf") format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: Vazir;
  src: url("Vazir-Medium-8bca9ff14d8308e213b611620cfc15d3.eot");
  src: url("Vazir-Medium-8bca9ff14d8308e213b611620cfc15d3.eot") format('embedded-opentype'),
       url("Vazir-Medium-fec93513dc6940c231f5ddd56e2cc32b.woff2") format('woff2'),
       url("Vazir-Medium-3f2ec83a6ef3dcfa3ce157a4d464fc78.woff") format('woff'),
       url("Vazir-Medium-7049eb066f146a918281e07b24034aa0.ttf") format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: Vazir;
  src: url("Vazir-Thin-25067d03f1a11a0398cf60bd3def500e.eot");
  src: url("Vazir-Thin-25067d03f1a11a0398cf60bd3def500e.eot") format('embedded-opentype'),
       url("Vazir-Thin-50c33b5e97af56f223f220aac68f48ad.woff2") format('woff2'),
       url("Vazir-Thin-a15bec742c4541f23ed1c7a942bcb3a5.woff") format('woff'),
       url("Vazir-Thin-d6248b2262ab22913b0f4ceb34fc87c5.ttf") format('truetype');
  font-weight: 100;
}

@font-face {
  font-family: Vazir;
  src: url("Vazir-Black-e69b3871625e6a8f213bba8fdd3fbc8b.eot");
  src: url("Vazir-Black-e69b3871625e6a8f213bba8fdd3fbc8b.eot") format('embedded-opentype'),
       url("Vazir-Black-b99c113402dd580433b864a3e3e33f0d.woff2") format('woff2'),
       url("Vazir-Black-6418e72d5d17c974bcc44d6b1e95b1e7.woff") format('woff'),
       url("Vazir-Black-970a83f316742e77af592662160c1c45.ttf") format('truetype');
  font-weight: 900;
}