<h1>あなたのメールアドレスが確認出来ます。</h1>

<p>
    以下のリンクをクリックして、あなたのメールアドレスを正しく認証してください: <br><br>
    <a href="{{ signedUrl|raw }}">メールアドレス確認</a>.
    このリンクの有効期限 : {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    よろしくお願い致します
</p>
