
/* フェード */
.msgBox {
    top: 40%;
    left: 35%;
    width: 26em;
    max-height: 50%;
    border: none;
    border-radius: 4px;
    box-shadow: 0 0 24px 4px rgba(0, 0, 0, 0.4);
    padding: 0.5em;
}
.msgBox::backdrop {
    background-color: rgba(0, 0, 0, 0.4);
}
.msgBox .header {
    background-color: #0075c2;
    color: #fff;
    font-weight: bold;
    padding: .5em;
    position: sticky;
    top: 0;
}
.msgBox .body {
    background-color: #fff;
    padding: .5em;
}
.msgBox .footer {
    background-color: #fff;
    text-align: right;
    padding: .5em;
    position: sticky;
    bottom: 0;
}
.msgBox .button {
    width: 8em;
    height: 2.4em;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.msgBox .button:hover {
    opacity: 0.8;
}
.msgBox .button.cancel {
    background-color: #e6eae6;
}
.msgBox .button.ok {
    background-color: #0075c2;
    color: #fff;
}

.msgBox[open],.msgBox[open]::backdrop {
    animation: fadeIn 200ms ease normal;
}
@keyframes fadeIn { from{opacity: 0;} to{opacity: 1;} }
.msgBox.hide,.msgBox.hide::backdrop {
    animation: fadeOut 200ms ease normal;
}
@keyframes fadeOut { to{opacity: 0;} }