
body {
    background-color: lightgray;
    font-family : "Hiragino Maru Gothic ProN", "ヒラギノ丸ゴ ProN W4", "Gulim", "arial", Osaka, メイリオ, sans-serif;
}


textarea.form-control {
    min-height: 120px; }


.table:not(.table-sm):not(.table-md):not(.dataTable) td {
        font-weight: initial;
}
.table:not(.table-sm):not(.table-md):not(.dataTable) td, th {
        min-height: 60px;
        height: auto;
        padding-bottom: 30px;
}


@media (max-width: 1024px) {
    .main-wrapper-1 .section .section-header {
        margin-left: inherit;
        margin-right: inherit;}
    .main-content {
        padding-left: inherit;
        padding-right: inherit;}
}

.section-body .card iframe {
		max-width: 100%;
}

div.modal-backdrop.show {
    z-index: auto;
}