{% set savePathAttr = {'attr': {
    'v-model': attributes.nested('savePath').nested("attr").render('v-model'),
    'class': attributes.nested('savePath').nested("attr").render('class')
}} %}
<div{{ attributes }}>
    <div class="card">
        <div class="card-body">
            {{ form_row(form.savePath, savePathAttr) }}
            {{ form_row(form.filename, {'attr': {'class': 'form-control'}}) }}
            <button class="btn btn-primary">{{ button_label|default('保存') }}</button>
        </div>
    </div>
</div>